[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"7d08736" = {file = "https://github.com/kpu/kenlm/archive/master.zip"}
preprocessor = "*"
tweet-preprocessor = "*"


[requires]

python_version = "2.7"
